<h1>MobileHeartCare</h1>
<i>Cuidando de tu Coraz&oacute;n.</i><br/>

<img src="./media/infografia.[#lang].jpg" />

<p>
Nuestro prop&oacute;sito, es ayudar a los pacientes a que lleven 
f&aacute;cilmente un registro de sus latidos por segundo en el tiempo, 
para que los doctores puedan tener m&aacute;s informaci&oacute;n (y mejor),
lo cual ayuda a tener una mejor calidad de vida y un mejor
cuidado de su coraz&oacute;n.
</p>
<p>Esto se loga utilizando disposit&iacute;vos m&oacute;viles.</p>
<p>De ah&uacute; viene el nombre, MobileHeartCare</p>
<br/>
<a href='?ac=register'>Registrarse Ahora</a>
